<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ SITEURL }}/air.min.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css"/>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  </head>


  <body class="flex column h-100 noir-90 bg--noir-10 sans-serif">

    <div class="center w-100 mw8 ph3">
      <a class="link" href="/">
        <img class="dib v-mid h3 w3 mr5" src="{{ SITEURL }}/theme/img/logo.svg" alt="logo" />
        <h1 class="dib v-mid f-title fw4 i">
          Air CSS
          <span class="f6 noir-50">ver. {{ VERSION }}</span>
        </h1>
      </a>
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>
