<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/air.min.css"/>
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygment.css"/>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
  </head>


  <body class="container h-100 noir-90 bg--noir-10 sans-serif overflow-auto">
    <div class="center w-100 mw8 ph3">
      <a class="link" href="/">
        <h1 class="f-title fw4 i">Air CSS <span class="f6 noir-50">ver. {{ VERSION }}</h1>
      </a>
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>
