{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{% if article.clearance %}[{{ article.clearance }}] {% endif %}DAT - {{ article.title }}{% endblock %}

{% block content %}

{% block clearance %}
{% endblock %}

<div class="w-100">

  <div class="dt w-100 center pv4">

    <div class="db dtc-p dtc-m dtc-l v-mid w-40">
      <p class="lh-copy b">{{ article.organisme }}</p>
      <p class="lh-copy">
        Rédacteur{%if article.authors|length > 1 %}s{% endif %} :<br/>
        {% for author in article.authors %}
        <span class="{%if loop.index == 1 %}b{% endif %}">{{ author }}</span><br>
        {% endfor %}
      </p>
    </div>


    <div class="db dtc-p dtc-m dtc-l v-mid tr-p tr-m tr-l">
      <p class="lh-copy">
        À Paris, le {{ article.locale_date }}<br/>
        N° <span class="dib w3"></span><span class="nowrap">/{{ article.service }}</span>
      </p>
    </div>
  </div>

  <div class="w-100 center">
    <h2 class="tc mb1">DOSSIER D'ARCHITECTURE TECHNIQUE</h2>
  </div>

  <div class="pv5">
    <div class="dt w-100 center">
      <div class="dtc w-20 b">
        <p class="lh-copy ma0 pa0">Objet</p>
      </div>
      <div class="dtc">:</div>
      <div class="dtc w-75 tl">
        <p class="lh-copy ma0 pa0">{{ article.title }}</p>
      </div>
    </div>

    {% if article.revision %}
    <div class="dt w-100 center">
      <div class="dtc w-20 b">
        <p class="lh-copy ma0 pa0">Rev.</p>
      </div>
      <div class="dtc">:</div>
      <div class="dtc w-75 tl">
        <p class="lh-copy ma0 pa0">{{ article.revision }}</p>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="pa3 ba pagebreak">
    <p class="lh-copy pa0 ma0">
    {{ article.summary }}
    </p>
  </div>

  <div class="db w-100 center">
    <!-- ugly hack for printing header and footer -->
    <table class="w-100 pagebreak">
      <thead><tr><td class="pa0">
        <div class="dn db-p header-space">&nbsp;</div>
      </td></tr></thead>
      <tbody><tr><td class="pa0">
        <header>
          {% import 'translations.html' as translations with context %}
          {{ translations.translations_for(article) }}
        </header>
        <div>
          {{ article.content }}
        </div>
      </td></tr></tbody>
    </table>
  </div>
</div>
{% endblock %}
