{% extends "base.html" %}

{% block content %}
{% block content_title %}
<h2>Derniers documents publiés</h2>
{% endblock %}

<ol class="list pa0">
  {% for article in articles_page.object_list %}
  <li>
    <article class="pv3">
      <div class="dt w-100">
        <div class="dtc v-mid">
          <h3 class="ma0">
            <a class="link bleu-france underline-hover" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Lien permanent vers « {{ article.title|striptags }}{% if article.tagline %} &mdash; {{ article.tagline }}{% endif %}»">
              {{ article.title }}
              {% if article.tagline %}
                &mdash; {{ article.tagline }}
              {% endif %}
            </a>
          </h3>
          <div class="pv2 f7">
            Tags :
            {% for tag in article.tags -%}
            <a class="link bleu-france underline-hover" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if loop.index < article.tags|length %}, {% endif %}
            {% endfor %}

            &mdash; <time datetime="{{ article.date.isoformat() }}">Publié le {{ article.locale_date }} </time> par
            {% for author in article.authors -%}
            <a class="link bleu-france underline-hover" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% if loop.index < article.authors|length %}, {% endif %}
            {%- endfor %}
          </div>
          </footer><!-- /.post-info -->
        </div>
        <div class="dtc w6 tr v-mid">
          <h3>
            {% if article.clearance == "DR-SF" %}
            <span class="dib w3"></span><span title="Diffusion restreinte" class="dib w2 ba tc rouge-marianne pa1 bw2">DR</span> <span title="Spécial France" class="dib w2 tc ba bleu-france pa1 bw2">SF</span>
            {% endif %}
          </h3>
        </div>
      </div>
      <div class="entry-content fw3 lh-copy tj"> {{ article.summary }} </div><!-- /.entry-content -->
    </article>
  </li>
  {% endfor %}
</ol><!-- /#posts-list -->

{% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
{% endif %}

{% endblock content %}
