{% extends "base.html" %}


{% block title %}{% if article.clearance %}[{{ article.clearance }}]{% endif %}Note - {{ article.title }}{% endblock %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block content %}

{% block clearance %}
{% endblock %}

<div class="w-100">

  <div class="dt w-100 center pv4">

    <div class="db dtc-p dtc-m dtc-l v-mid w-40">
      <p class="lh-copy b">{{ article.organisme }}</p>
      <p class="lh-copy">
        Dossier suivi par :<br/>
        <span class="b">{{ article.author }}</span>
      </p>
    </div>


    <div class="db dtc-p dtc-m dtc-l v-mid tr-p tr-m tr-l">
      <p class="lh-copy">
        À Paris, le {{ article.locale_date }}<br/>
        N° <span class="dib w3"></span><span class="nowrap">/{{ article.service }}</span>
      </p>
    </div>
  </div>

  <div class="w-100 center">
    <h2 class="tc mb2">NOTE</h2>
    {% for vip in article.vip %}
    {{vip}}
    {% endfor %}
    <p class="lh-solid tc f5 b">à</p><p class="lh-solid tc f5 b">
    destinataires <span class="i">in fine</span>
    </p>
  </div>

  <div class="dt w-100 center pv4">
    <div class="dtc w-20 b">
      <p>Objet</p>
    </div>
    <div class="dtc">:</div>
    <div class="dtc w-75 tl">
      <p>{{ article.title }}</p>
    </div>
  </div>

  <div class="pa3 ba pagebreak">
    <p class="lh-copy pa0 ma0">
    {{ article.summary }}
    </p>
  </div>

  <div class="db w-100 center">
    <!-- ugly hack for printing header and footer -->
    <table class="w-100 pagebreak">
      <thead><tr><td class="pa0">
        <div class="dn db-p header-space">&nbsp;</div>
      </td></tr></thead>
      <tbody><tr><td class="pa0">
        <header>
          {% import 'translations.html' as translations with context %}
          {{ translations.translations_for(article) }}
        </header>
        <div>
          {{ article.content }}
        </div>
      </td></tr></tbody>
    </table>
  </div>

</div>
{% endblock %}
